{% extends 'main.html' %}
{% block title %}contact{% endblock title %}
{% block body %}
<!--banner-->
<div class="container-fluid px-0">
<img src="static/image/contact.jfif" class="d-block w-100" alt="...">
<h1 class="container text-center " style="color: white; border-color: wheat; margin-top: -100px;/* margin-left: 405px; */font-size: 50px;">contact</h1>
</div>
<!--forms-->
<div class="container my-5">
    <form method="POST", action="contact">
    {% csrf_token %}
        <div class="mb-3">
          <label for="name" class="form-label">Enter your name</label>
          <input type="text" class="form-control" id="name" name="name" aria-describedby="name">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" name="email" aria-describedby="email">
            <div id="email" class="form-text">We'll never share your email with anyone else.</div>
          </div>
          <div class="mb-3">
            <label for="phone" class="form-label">Phone number</label>
            <input type="phone" class="form-control" id="phone" name="phone" aria-describedby="phone">
          </div>
          <div class="mb-3">
            <label for="desc" class="form-label">Reason</label>
            <textarea type="desc" class="form-control" id="desc" name="desc" aria-describedby="desc"></textarea>
          </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>

{% endblock body %}