{% extends 'main.html' %}
{% block title %}Social{% endblock title %}
{% block body %}
<!--Instagram-->
<div class="container px-0">
    <div class="row">
        <div class="col-lg-4 px-5 my-5">
            <img src="static/image/insta.jpg" alt="Avatar" style="border-radius: 50%;">
            <h2 class='text-center'>imsurajyt</h2>
            <p class='text-center'>Follow me on instagram, for more fun.</p>
            <p style="margin-left: 50px;"><a class="btn btn-secondary" href="https://www.instagram.com/">View details »</a></p>
        <div>
    </div>       
</div>
<div>
    <h2 style="margin-left: 320px; margin-top: -380px;">Instagram Handle</h2>
    <p class="col-lg-4" style="margin-left: 320px;">This my instagram, u can know pretty much about. click 'view details to visit the instagram.' </p>
</div>
<!--Youtube-->
<div class="container px-0">
    <div class="row">
        <div class="col-lg-4 px-5 my-5">
            <img src="static/image/unnamed.jpg" alt="Avatar" style="border-radius: 50%; margin-left: 645px; margin-top: -150px;">
            <h2 class='text-center' style='margin-left: 710px;'>imsurajyt</h2>
            
            
        <div>
    </div>       
</div>
<div>
    <h2 style="margin-left: 320px; margin-top: -310px;">Youtube Handle</h2>
    <p class="col-lg-4" style="margin-left: 320px;">Visit our Youtube channel, We do gaming, roasting, live section, etc. click 'view details' to visit the instagram. </p>
    <p style='margin-left: 642px; margin-top: 140px;'class='text-center' >Visit my channel.</p>
</div>    
<p style="margin-left: 642px;"><a class="btn btn-secondary" href="https://www.youtube.com/channel/UCA2Q6qp9DVe7F0eaL9M_N6g" style="margin-left: 110px; margin-top: -20px;">View details »</a></p>
{% endblock body %}
